<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project1.Properties.Settings.CAFEConnectionString"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=CAFE;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>